/**
* Created by dev: 06-11-2019
*/
.pages_count,
.qsm-page .pages_count,
.quiz_section .pages_count{
    display: block;
    text-align: center;
}
.mlw_qmn_question p:empty{
    display: none;
}
.MJXc-display{
    display: inline-block !important;
}
.mlw_qmn_question{
    display: block;
}
.polar-question-title{
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
}
.question-type-polar-s{
    display: inline-block !important;
    position: relative;
    width: 100%;
}
.question-type-polar-s br{
    display: none;
}
.question-type-polar-s .left-polar-title{
    width: 25%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}
.question-type-polar-s .slider-main-wrapper{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.question-type-polar-s .right-polar-title{
    width: 25%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}
.question-type-polar-s .ui-widget-content{
    background: #A5A5A5;
    border-color: #A5A5A5;
    border-radius: 0;
    height: 20px;    
}
.question-type-polar-s .ui-widget-content .ui-slider-handle{
    background: rgb(119, 113, 113);
    height: 32px;
    border-color: rgb(119, 113, 113);
    top: -7px;
    border-radius: 0px;
}
.qsm-deselect-answer{
    float: right;
}
@media screen and (max-width: 767px){
    .question-type-polar-s .left-polar-title,
    .question-type-polar-s .slider-main-wrapper,
    .question-type-polar-s .right-polar-title{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        margin-bottom: 30px;
    }   
    .question-type-polar-s{
        height: auto !important;
    }
}

.quiz-question-title,
.quiz-question-title h2 {
    font-size: 30px;
    font-weight: 500 !important;
    line-height: 1.15;
    margin: 0 0 5px 0;
}

.qsm-page {
    padding: 3rem 0 !important;
}
.qsm-progress-bar {
    padding: 0 !important;
    height: 5px;
    position: relative;
    flex-grow: 2;
}

.mlw_qmn_message_before {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.qmn_btn {
    border-radius: 3px !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

.qmn_pagination {
    padding: 15px 0 0 0;
}

.clear-fix::after {
     display: block;
     content: "";
     clear: both;
}

.qsm-hint {
    text-decoration: none;
}

.qmn_radio_answers  {
    display: flex;
    flex-wrap: wrap;
}

.qmn_mc_answer_wrap {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 7px 0 7px 0 !important;
    display: block !important;
}

.qmn_mc_answer_answer_border {
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 10px;
}

.qsm-results-page,
.qsm-results-page pre {
    text-align: center;
    font-size: 30px;
    border: 0;
    padding: 100px 0;
    margin: 0;
}

.qsm_contact_div {
    text-align: center;
}

.qsm-after-message {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

.qsm_contact_div select,
.qsm_contact_div textarea,
.qsm_contact_div input[type="text"],
.qsm_contact_div input[type="email"],
.qsm_contact_div input[type="number"] {
    max-width: 300px;
}